doctype html
html
  head
    script(src='../s/d3.js')
    script
        | var data =
        != shows
        | ; console.log(data)
    link(
        rel="stylesheet",
        type="text/css",
        href="../s/main.css"
    )
  body
    table(class='m-info')
        tr
            th #
            th Start
            th Pref.
            th Shows
        tr
            td= user.id
            td= user.registred.toLocaleString()
            td= user.preference
            td= user.shows.filter(function(a) { return a.finish; }).length

    div(class='m-shows')


    div(class='m-pview')
        div(class='m-pview__close') x
        div(class='m-pview__id')
        div(class='m-pview__name')
        div(class='m-pview__age')
        div(class='m-pview__dist')
        div(class='m-pview__info')
        div(class='m-pview__desc')
        div(class='m-pview__photos')

    script(src='../s/res.js')
